*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
Ok, I cheated and used stack overflow
   */
   -ms-user-select: none;
   user-select: none;
}
